<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead" th:with="title='Hello'"></head>

<body>
<div th:replace="layout :: navbar">(navbar)</div>

<div class="container">
    <h1>Meetings</h1>

    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Meeting Date</th>
            <th>Details</th>
            <th>Contact</th>
        </tr>
        <tr th:each="meeting,iterStat : ${meetings}">
            <td th:text="${meeting.id}"></td>
            <td th:text="${meeting.meetingDate}"></td>
            <td th:text="${meeting.details}"></td>
            <td th:text="${meeting.contact.id}"></td>
        </tr>
    </table>

</div>

<div th:include="layout :: footer" id="footer">(footer)</div>

</body>
</html>