<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead" th:with="title='Hello'"></head>

<body>
<div th:replace="layout :: navbar">(navbar)</div>

<div class="container">
    <h1>Messages</h1>

    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Subject</th>
            <th>Contents</th>
            <th>Created</th>
            <th>Read</th>
            <th>Read Date</th>
        </tr>
        <tr th:each="message,iterStat : ${messages}">
            <td th:text="${message.id}"></td>
            <td th:text="${message.messageSubject}"></td>
            <td th:text="${message.messageContents}"></td>
            <td th:text="${message.createdDate}"></td>
            <td th:text="${message.messageRead}"></td>
            <td th:text="${message.messageReadDate}"></td>
        </tr>
    </table>

</div>

<div th:include="layout :: footer" id="footer">(footer)</div>

</body>
</html>