<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="htmlhead">
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <meta name="description" content=""></meta>
    <meta name="author" content=""></meta>

    <title th:text="${title}">(title)</title>

    <link th:href="@{/webjars/bootstrap/3.1.1/css/bootstrap.css}" rel="stylesheet"></link>
    <link th:href="@{/css/main.css}" rel="stylesheet"></link>
</head>

<body>
<div th:fragment="navbar" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">Contacts</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a th:href="@{/contacts}">Contacts</a></li>
                <li><a href="#about">About</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="starter-template">
        <h1>Layout</h1>
    </div>
</div>

<div th:fragment="footer" id="footer">
    <div class="container">
        <p class="muted credit">Powered by Spring, Thymeleaf and Hibernate. Styled by Bootstrap 3. Copyright 2014 &copy; Chris Nolan</p>
    </div>
    <script th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.1.1/js/bootstrap.min.js}"></script>
</div>

</body>
</html>