<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead" th:with="title='Hello'"></head>

<body>
<div th:replace="layout :: navbar">(navbar)</div>

<div class="container">
    <h1 th:text="'Addresses for ' + ${contact.name}"></h1>

    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Line One</th>
            <th>Line Two</th>
            <th>City</th>
            <th>County</th>
            <th>Post Code</th>
            <th>Country</th>
        </tr>
        <tr th:each="address,iterStat : ${contact.addresses}">
            <td th:text="${address.id}"></td>
            <td th:text="${address.addressName}"></td>
            <td th:text="${address.addressLineOne}"></td>
            <td th:text="${address.addressLineTwo}"></td>
            <td th:text="${address.addressCity}"></td>
            <td th:text="${address.addressCounty}"></td>
            <td th:text="${address.addressPostCode}"></td>
            <td th:text="${address.addressCountry}"></td>
        </tr>
    </table>

</div>

<div th:include="layout :: footer" id="footer">(footer)</div>

</body>
</html>