<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead" th:with="title='Hello'"></head>

<body>
<div th:replace="layout :: navbar">(navbar)</div>

<div class="container">
    <h1>Contacts</h1>

    <a th:href="@{/contacts/new}">New</a>
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Date of Birth</th>
            <th></th>
        </tr>
        <tr th:each="contact,iterStat : ${contacts}">
            <td th:text="${contact.id}"></td>
            <td th:text="${contact.username}"></td>
            <td th:text="${contact.firstName}"></td>
            <td th:text="${contact.lastName}"></td>
            <td th:text="${contact.dateOfBirth}"></td>
            <td>
                <a th:href="@{/contacts/{contact}/meetings(contact=${contact.id})}">Meetings</a> |
                <a th:href="@{/contacts/{contact}/addresses(contact=${contact.id})}">Addresses</a> |
                <a th:href="@{/contacts/{contact}/messages(contact=${contact.id})}">Messages</a>
            </td>
        </tr>
    </table>

</div>

<div th:include="layout :: footer" id="footer">(footer)</div>

</body>
</html>